body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar-nav{
    padding: 1.5vw 1vw 1.5vw 1vw;
}
.navbar-nav a{
    font-size: 1.4vw;
    margin-right: 1vw;
    color: black;
}
#navbtn{
    background-color: #0060AA;
    color: white;
    padding: 0.5vw 2vw 0.5vw 2vw;
}

.navbar-brand img{
    width: 11vw;
    margin-left: 2.5vw;
}

.home-section-one{
    background-color: #0060AA;    
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 15%;
    height: 50vw;
}
.hero-element{
    transform: scale(1.3,1.3);
}
.hero-element h1{
    color: white;
    font-weight: 500;
    font-size: 2.6vw;
}
.hero-element button{
    background-color: white;
    border-radius: 2vw;
    padding: 0.7vw 3vw 0.7vw 3vw;
    border: none;
    font-size: 1.2vw;
    margin-top: 5%;
}
.hero-img img{
    width: 40vw;
    transform: scale(1.3,1.3);
}

.home-section-two{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 9%;
    height: 50vw;
}
.sectiontwo-element h1{
    font-size: 3.7vw;
}
.sectiontwo-element h2{
    font-size: 2.6vw;
    font-weight: 400;
}
.sectiontwo-img img{
    width: 40vw;
    margin-left: 10%;
}

.home-section-three img{
    width: 100%;
}

.home-section-three{
    margin-top: -5%;
}
.home-three-elm{
    margin-top: -16%;
    margin-left: 6%;
}
.home-three-elm h1{
    font-size: 3.8vw;
    color: white;
    font-weight: 400;
}

.home-section-four{
    
    box-shadow: 0px 12px 92px rgba(0, 0, 0, 0.25);
}
.home-section-four img{
    width: 100%;
}
.home-four-elm{
    margin-top: -16%;
    margin-left: 6%;
}
.home-four-elm h1{
    font-size: 3.8vw;
    color: white;
    font-weight: 400;
}
.home-four-elm h2{
    font-size: 2vw;
    color: white;
    font-weight: 400;
}

#btnblue{
    background-color: #0060AA;
    color: white;
    border-radius: 2vw;
    padding: 0.7vw 3vw 0.7vw 3vw;
    border: none;
    font-size: 1.4vw;
    margin-top: 1.5%;
}
footer{
    background-color: #EEEEEE;
    width: 100%;
    height: 30vw;
}
.footer-white{
    background-color: white;
    width: 80%;
    height: 55%;
    margin: auto;
    transform: translateY(50%);
    border-radius: 2vw;
}
.footer-white img{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 10vw;
    margin-top: 2%;
}
.footer-elements{
    display:flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 5%;
}
.footer-elements h3{
    font-size: 2vw;
    border-right: 0.2vw solid #0060AA;
    padding-right: 2vw;
}

/*=============================PAGE TWO=================*/

.ptwo-section-one{
    display: flex;
    align-items: center;
    height: 50vw;
}
.ptwo-one-elements{
    margin-left: 5%;
}
.ptwo-img-one img{
    width: 35vw;
}
.ptwo-one-elements h1{
    font-size: 2.8vw;
    line-height: 4.5vw;
}

.ptwo-section-four{
    display: flex;
    align-items: center;
    height: 50vw;
    margin-left: 15%;
}
.ptwo-section-four-elements h1{
    font-size: 3vw;
    font-weight: 700;
    font-family: "Poppins";
}
.ptwo-section-four-elements p{
    font-size: 1.4vw;
    font-weight: 400;
    font-family: "Poppins";
}
.ptwo-section-four-img img{
    width: 20vw;
    margin-left: 45%;
}

.ptwo-section-five{
    display: flex;
    margin: 0;
    align-items: center;
}
.ptwo-section-five-img img{
    width: 50vw;
    margin: 0;
}
.ptwo-section-five-elements{
    margin-left: 5%;
}
.ptwo-section-five-elements svg{
    width: 30vw;
    margin-left: 12%;
}

.ptwo-section-seven{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.ptwo-section-seven form{
    width: 40%;
    text-align: left;
    margin: auto;
    margin-top: 5%;
}

.ptwo-section-seven h1{
    font-size: 2.5vw;
    margin: auto;
}
.ptwo-section-seven p{
    font-size: 1.2vw;
    width: 50%;
    color: #7d7d7d;
    margin: auto;
    padding-top: 1vw;
}


/*===================PAGE THREEE======================*/

.p3-section-one{
    background-image: url(img/p3headimg.png);
    background-size: cover;
    padding-top: 20%;
    padding-left: 8%;
    padding-bottom: 5%;
}
.p3-section-one h1{
    color: white;
    font-size: 4.5vw;
}
.p3-section-one h3{
    color: white;
    font-size: 3.1vw;
    font-weight: 400;
}

.p3-section-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55vw;
    width: 80%;
    margin-left: 10%;
}
.p3-two-elements h1{
    font-size: 3vw;
    margin-top: -10%;
    font-weight: 700;
    font-family: "Poppins";
}
.p3-two-elements p{
    font-size: 1.4vw;
    margin-top: 5%;
    font-family: "Poppins";
    font-weight: 400;
}

.p3-two-img img{
    width: 20vw;
}

.p3-section-three{
    display: flex;
    align-items: center;
    
}
.p3-three-elements svg{
    margin-left: 10%;
    z-index: 100;
    width: 35vw;
}

.p3-three-img{
    z-index: -1;
    width: 80%;
}
.p3-three-img img{
    width: 100%;
}
.p3-section-four{
    background-image: url(img/p3footimg.png);
    background-size: cover;
    padding-bottom: 25%;
    padding-left: 8%;
    padding-top: 5%;
}
.p3-section-four h1{
    font-size: 3.8vw;
    color: white;
}

/*=============PAGEFOUR==================*/
.p4-section-one{
    height: 35vw;
}
.p4-section-one h1{
    font-size: 3.8vw;
    text-align: center;
    padding-top: 10%;
    font-weight: 700;
}

.p4-section-two{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40vw;
}
.p4-two-elements{
    width: 40%;
    background-color: #F8F8FB;
    padding-left: 5%;
    padding-top: 5%;
}
.p4-two-elements h4{
    font-size: 1vw;
    margin-top: 2vw;
}
.p4-two-elements h1{
    font-size: 2.8vw;
    font-weight: 700;
    margin-bottom: 10%;
}
.p4-two-elements input{
    background: none;
    border: none;
    border-bottom: 0.1vw solid black;
    outline: none;
    width: 80%;
    font-size: 1vw;
}
.p4-two-img{
    background-image: url(img/p4twoimg.png);
    background-position: cover;
    width: 60%;
    padding: 3%;
}
#contactbtn{
    background: none;
    font-size: 1.5vw;
    padding: 0.5vw 2.8vw 0.5vw 2.8vw;
    border: 2px solid black;
    border-radius: 100px;
    margin-top: 10%;
}
.p4-two-img h1{
    font-size: 3.2vw;
    color: white;
}
.p4-two-img h3{
    font-size: 2.4vw;
    color: white;
    font-weight: 400;
}

.p4-section-three{
    display: flex;
    width: 100%;
    align-items: center;
}
.p4-secthree-one{
    width: 45%;
}
.p4-secthree-two{
    width: 55%;
}


.p4-section-four{
    display: flex;
    width: 100%;
    align-items: center;
}
.p4-secfour-one{
    width: 45%;
}
.p4-secfour-one a{
   margin-top: 21%;
   margin-left: 2.8%;
    position: absolute;
    font-size: 1.3vw;
    color: white;
}
.p4-secfour-two{
    width: 55%;
}

/*==============PAGE FIVE=================*/

.p5-section-one{
    background-color: #0060AA;
    color: white;
    
    
}
.secp5one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40vw;
    width: 85%;
    margin: auto;
}
.p5-one-elements h1{
    font-size: 3.5vw;
    font-family: "Poppins";

}

.p5-one-elements p{
    font-size: 1.3vw;
    margin-top: 5%;
    font-family: "Poppins";
}
.p5-one-img img{
    width: 40vw;
}

.p5-section-two{
    display: flex;
    height: 40vw;
    align-items: center;
}

.p5-two-img{
    height: 100%;
    width: 50%;
    background-image: url(img/p5twoimg.png);
    background-size: cover;
}
.p5-two-elements{
    margin-left: 5%;
}
.p5-two-elements h1{
    font-size: 3.4vw;
    font-weight: 700;
}
.p5-two-elements p{
    font-size: 1.3vw;
    padding-top: 5%;
    font-family: "Poppins";
}

.p5-section-three{
    background-color: #0060AA;
    
}

.p5-section-three h1{
    font-size: 4vw;
    text-align: center;
    padding-top: 7%;
    color: white;
}

.p5-section-three p{
    font-size: 1.5vw;
    text-align: center;
    padding-bottom: 5%;
    color: white;
}

.p5-section-three h3{
    font-size: 1.5vw;
    text-align: center;
}

.p5-three-one{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}
.p5-three-one h3{
   font-size: 1.5vw;
   font-weight: 600;
   margin-top: 5%;
   color: gray;
}
.p5-three-one h1{
    font-size: 3.5vw;
    font-weight: 600;
    color: #0060AA;
 }
.p5-three-one div p{
    font-size: 1.24vw;
    text-align: center;
    margin-top: 6%;
    color: gray;
}
.p5-three-one div{
    background-color: white;
    width: 45%;
    padding: 5% 0% 3% 0%;
    border-radius: 5vw;
}

.p5-three-one svg{
   margin-left: 50%;
   transform: translateX(-50%);
   width: 40%;
}

/*=====================PAGE SIX==========================*/

.p6-section-one{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}
.p6-one-elements h1{
    font-size: 3.4vw;
    font-weight: 700;
}
.p6-one-elements h2{
    font-size: 2.5vw;
}
.p6-one-img img{
    width: 40vw;
}



.p6-last-one{
    display: flex;
}

.p6-last-one div{
    background-color: #0060AA;
   
    width: 40%;
}

.p6-last-one div h1{
    text-align: center;
    font-size: 1.5vw;
}

.p6-last-one div h4{
    font-size: 1.2vw;
}



/*-===================PAGE SEVEN===============*/

.p7-section-one{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}
.p7-one-elements h1{
    font-size: 3.4vw;
    font-weight: 700;
}
.p7-one-elements h2{
    font-size: 2.5vw;
}
.p7-one-elements p{
    font-size: 1.5vw;
    margin-top: 5%;
}
.p7-one-img img{
    width: 30vw;
    margin-left: 15%;
}